.btn {
    text-align: top;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    font-size: 15px;
    background-color: blue;
    color: white;
}

.right {
    text-align: right;
    display: block;
}

.chat {
    background-color:antiquewhite;
    width: 370px;
    font-size: 20px;
    border: 3px;
    border-color: blue;
    border-style: solid;
}

.text {
    size: 10px;
}